<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.wolfram.eclipse.MEET.debug.consolelaunch">
<stringAttribute key="launch.config.file.fullname" value="E:\Calculation\Mathematica\.metadata\.plugins\com.wolfram.eclipse.MEET\ProjectNotebooks\try2.nb"/>
<stringAttribute key="launch.config.project.name" value="try2"/>
</launchConfiguration>
